*
{
    margin: 0;
}

#container
{
    
    background-color: red;
    width: 500px;
    height: 300px;
    margin:auto;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: static;
}
.text
{
     
        color: white;
        margin-bottom: 20px;   
        font-size: 1.3rem;

}
.logo
{
    margin-bottom: 20px;
}
#outer-container
{
    display: none;
}